.Skill {
    margin: 18px;
    min-width: 300px;
}

.SkillName {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

.SkillExpertise {
    position: relative;
    margin-top: 5px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid inherit;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.SkillPercentage {
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    /* color:black; */
}

.SkillIcon {
    /* margin-left: 10px; */
    font-size: 30px;
    /* color: inherit; */
}